/* @import "iview.css"; */
@import "common.css";
@import "layer.css";
/*==页面公用部分==*/
.ivu-input-icon{height:27px!important;line-height:27px!important}
/*表格标题两行*/
.table-contractmanage th,.table-ctrapproval01 th,.table-resourceBandwidth th,.table-resourceport th,.table-ctrapproval02 th,.table-bankwidthapproval01 th,.table-bankwidthapproval02 th{padding:4px 8px;line-height:16px;}

/*iview搜索区tabletop公用时间段*/
.tabletop .daterange .ivu-date-picker {width: 100%;font-family: Helvetica Neue!important;text-align: left;font-weight: 400;}
.tabletop .daterange input[type="text"] {width: 100%;}
.tabletop .daterange{float:left;margin-left:5px;}
.ivu-input-number::-moz-placeholder{color:#acacac;opacity:1}.ivu-input-number:-ms-input-placeholder{color:#acacac}.ivu-input-number::-webkit-input-placeholder{color:#acacac}
.ivu-page-options-elevator input::-moz-placeholder{color:#acacac;opacity:1}.ivu-page-options-elevator input:-ms-input-placeholder{color:#acacac}.ivu-page-options-elevator input::-webkit-input-placeholder{color:#acacac}
.ivu-input::-moz-placeholder{color:#acacac;opacity:1}.ivu-input:-ms-input-placeholder{color:#acacac}.ivu-input::-webkit-input-placeholder{color:#acacac}

/*iview搜索区tabletop公用checkbox*/
.tabletop label{margin:0 5px;padding-top:3px;}
.tabletop .checkbox{float:left;margin-left:5px;}
.tabletop .checkbox .ivu-checkbox-inner{width:18px;height:18px;margin-right:4px;}
.tabletop .ivu-checkbox-checked .ivu-checkbox-inner:after{left:6px;top:3px;}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder{color:#acacac;}
/*iview搜索区tabletop公用select*/
.tabletop .select{float:left;margin-left:5px;}
.tabletop .ivu-select{width:100%;}
.tabletop .ivu-select .ivu-select-placeholder{text-align: left;height:26px;line-height:24px;}
.tabletop .ivu-select .ivu-select-selection{height:26px!important;}

/*========登录 页面 开始============*/

.redfnt{color:#a50102;}
.loginheader{height:66px;margin:60px auto 30px; background:transparent;}
.loginheader .title{width:1000px; margin:0 auto;}
.loginheader .title h1{background:#a82127;float: left;width:66px;height:66px;line-height:66px;text-align: center;color:#fff;text-shadow: .5px .5px 1px #000;}
.loginheader .title span{float:left;font-size:16px;padding-left:30px;line-height:66px;font-weight:bold;}
.logincontent{background:url(../images/loginbg.png) no-repeat center top; height:500px;}
.loginfrm{width:1000px; margin:0 auto;}
.logincnt{width:350px; float:right;margin-right:20px; /*background:#fff;*/background:rgba(255,255,255,0.98); margin-top:50px;}
.loginbox{height:250px;margin-top:40px}

.logincnt ul{margin:0 0 0 35px;}
.logincnt li{position:relative}
.logincnt li i{color:#a8a8a8;font-size:19px;}
.logincnt li:first-child input:focus i{border-color: #52a8ec;}

.logincnt li p{color:#a50102;padding-left:58px;height:20px;}
.logincnt li label{position:absolute;z-index:10;top:4px;left:12px;font-size:14px;font-weight:bold;display:inline-block;width:44px;width:50px;}
.logincnt li input{height:34px;border:none;width:280px;font-size:14px;background:#fff;opacity:.8;border:1px #ccc solid;padding-left:40px;}
.logincnt li:last-child label{display:inline-block;margin-top:5px;}
.logincnt li:last-child input{width:190px;}
.logincnt li:last-child span{display: inline-block;}
.logincnt li:last-child *{vertical-align:top}
.logincnt li:last-child img{border:1px #f5f5f5 solid}
.logincnt .btns{text-align:center;margin:15px auto 0}
.logincnt .btnlogin{width:82%; height:44px; line-height:44px;background:#a82127;color:#fff; font-size:16px; border-radius:3px; display:block;margin:0 auto; text-decoration:none;text-align:center}
.logincnt .describe{/*background:rgba(255,251,212,0.5);background:rgba(30,75,127,0.1);*/background:rgba(160,152,161,.2);height:110px;  border-top:1px solid #ccc/*edf2ed*/; text-align:left; padding-left:30px; }
.logincnt .describe p{font-size:14px; line-height:30px;margin-top:25px;}

.loginfooter{height:50px; line-height:50px;}
.logincopyright {width:960px; margin:0 auto; text-align:right; font-size:14px; color:#777;}
.logincopyright a{display:inline-block;margin-left:15px;}

/*首页*/
.picarea{height:100%;}
.title-list{text-align: left;padding-left:80px;}
.title-list li{display:inline-block; margin:30px 80px;width:90px;vertical-align:top;}
.title-list li a{display:block;text-align:center;font-size:14px; }
.title-list li a span{display:inline-block;margin-top:15px;width:100%;text-align:center;color:#777;font-weight:bold;text-shadow: 0 0.5px 0.5px #fff;
    -webkit-text-shadow: 0 0.5px 0.5px #fff;
    -moz-text-shadow: 0 0.5px 0.5px #fff;
    -ms-text-shadow: 0 0.5px 0.5px #fff;
    -o-text-shadow: 0 0.5px 0.5px #fff;}
.title-list li a:hover span{color:#b2b2b2;
	text-shadow: 0 0.5px 0.5px #fff;
    -webkit-text-shadow: 0 0.5px 0.5px #fff;
    -moz-text-shadow: 0 0.5px 0.5px #fff;
    -ms-text-shadow: 0 0.5px 0.5px #fff;
    -o-text-shadow: 0 0.5px 0.5px #fff;}
.title-list li{}
.title-list li img{width:90px;height:90px}

.title-list li img{display: none;}
.title-list li a{display: inline-block;width:90px;padding-top:90px;transition:all .2s ease-in-out;}
.title-list li:first-child a{background:url(../images/ico01.png) no-repeat center top;background-size:90px auto;}
.title-list li:first-child a:hover{background:url(../images/ico01_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(2) a{background:url(../images/ico02.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(2) a:hover{background:url(../images/ico02_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(3) a{background:url(../images/ico03.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(3) a:hover{background:url(../images/ico03_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(4) a{background:url(../images/ico04.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(4) a:hover{background:url(../images/ico04_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(5) a{background:url(../images/ico05.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(5) a:hover{background:url(../images/ico05_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(6) a{background:url(../images/ico06.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(6) a:hover{background:url(../images/ico06_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(7) a{background:url(../images/ico07.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(7) a:hover{background:url(../images/ico07_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(8) a{background:url(../images/ico08.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(8) a:hover{background:url(../images/ico08_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(9) a{background:url(../images/ico09.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(9) a:hover{background:url(../images/ico09_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(10) a{background:url(../images/ico10.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(10) a:hover{background:url(../images/ico10_on.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(11) a{background:url(../images/ico11.png) no-repeat center top;background-size:90px auto;}
.title-list li:nth-child(11) a:hover{background:url(../images/ico11_on.png) no-repeat center top;background-size:90px auto;}

/*客户管理 页面*/
.table-clientmag th:first-child,.table-clientmag td:first-child{width:12%;word-wrap: break-word;word-break: break-all;}
.table-clientmag th:nth-child(2),.table-clientmag td:nth-child(2){width:9%;word-wrap: break-word;word-break: break-all;}
.table-clientmag th:nth-child(3),.table-clientmag td:nth-child(3){width:10%;}
.table-clientmag th:nth-child(4),.table-clientmag td:nth-child(4){width:10%;word-wrap: break-word;word-break: break-all;}
.table-clientmag th:nth-child(5),.table-clientmag td:nth-child(5){word-wrap: break-word;word-break: break-all;}
.table-clientmag th:nth-child(6),.table-clientmag td:nth-child(6){width:7%;white-space: nowrap;text-align: center}
.table-clientmag th:nth-child(7),.table-clientmag td:nth-child(7){width:10%;white-space: nowrap;}
.table-clientmag th:nth-child(8),.table-clientmag td:nth-child(8){width:15%;white-space: nowrap;}
.table-clientmag th:nth-child(9),.table-clientmag td:nth-child(9){width:6%;white-space: nowrap;text-align: center}
.table-clientmag th:nth-child(10),.table-clientmag td:nth-child(10){width:8%;white-space: nowrap;text-align: center}
.table-clientmag td:last-child a i{display: inline-block;margin-right:4px;}

/*供应商管理 页面*/
.table-suppliermag th:first-child,.table-suppliermag td:first-child{width:11%;word-wrap: break-word;word-break: break-all;}
.table-suppliermag th:nth-child(2),.table-suppliermag td:nth-child(2){width:9%;word-wrap: break-word;word-break: break-all;}
.table-suppliermag th:nth-child(3),.table-suppliermag td:nth-child(3){width:10%;}
.table-suppliermag th:nth-child(4),.table-suppliermag td:nth-child(4){width:10%;word-wrap: break-word;word-break: break-all;}
.table-suppliermag th:nth-child(5),.table-suppliermag td:nth-child(5){word-wrap: break-word;word-break: break-all;}
.table-suppliermag th:nth-child(6),.table-suppliermag td:nth-child(6){width:6%;white-space: nowrap;text-align: center}
.table-suppliermag th:nth-child(7),.table-suppliermag td:nth-child(7){width:10%;white-space: nowrap;}
.table-suppliermag th:nth-child(8),.table-suppliermag td:nth-child(8){width:12%;white-space: nowrap;}
.table-suppliermag th:nth-child(9),.table-suppliermag td:nth-child(9){width:8%;white-space: nowrap;text-align: center}
.table-suppliermag th:nth-child(10),.table-suppliermag td:nth-child(10){width:4%;white-space: nowrap;text-align: center;}
.table-suppliermag th:nth-child(11),.table-suppliermag td:nth-child(11){width:6%;white-space: nowrap;text-align: center;}
.table-suppliermag td:last-child a i{display: inline-block;margin-right:4px;}

/*资源管理-ip资源 页面*/
.table-resourceIp th:first-child,.table-resourceIp td:first-child{width:14%;}
.table-resourceIp th:nth-child(2),.table-resourceIp td:nth-child(2){width:10%;}
.table-resourceIp th:nth-child(3),.table-resourceIp td:nth-child(3){width:10%;white-space: nowrap;}
.table-resourceIp th:nth-child(4),.table-resourceIp td:nth-child(4){width:8%;white-space: nowrap;text-align: center}
.table-resourceIp th:nth-child(5),.table-resourceIp td:nth-child(5){width:8%;white-space: nowrap;text-align: center}
.table-resourceIp th:nth-child(6),.table-resourceIp td:nth-child(6){width:10%;white-space: nowrap;text-align: center}
.table-resourceIp th:nth-child(7),.table-resourceIp td:nth-child(7){width:10%;white-space: nowrap;text-align: center}
.table-resourceIp th:nth-child(8),.table-resourceIp td:nth-child(8){}
.table-resourceIp th:nth-child(9),.table-resourceIp td:nth-child(9){width:14%;}
/*资源管理-带宽资源 页面*/
.resourceBandwidth .select-bandwidth{width:150px;}
.table-resourceBandwidth th:first-child,.table-resourceBandwidth td:first-child{width:9.5%;}
.table-resourceBandwidth th:nth-child(2),.table-resourceBandwidth td:nth-child(2){width:5%;}
.table-resourceBandwidth th:nth-child(3),.table-resourceBandwidth td:nth-child(3){width:6%;}
.table-resourceBandwidth th:nth-child(4),.table-resourceBandwidth td:nth-child(4){width:3%;text-align: center}
.table-resourceBandwidth th:nth-child(5),.table-resourceBandwidth td:nth-child(5){width:3%;white-space: nowrap;text-align: center}
.table-resourceBandwidth th:nth-child(6),.table-resourceBandwidth td:nth-child(6){width:4%;text-align: center}
.table-resourceBandwidth th:nth-child(7),.table-resourceBandwidth td:nth-child(7){width:7%;text-align: center}
.table-resourceBandwidth th:nth-child(8),.table-resourceBandwidth td:nth-child(8){width:5%;text-align: center}
.table-resourceBandwidth th:nth-child(9),.table-resourceBandwidth td:nth-child(9){width:4%;text-align: center}
.table-resourceBandwidth th:nth-child(10),.table-resourceBandwidth td:nth-child(10){width:4%;text-align: center}
.table-resourceBandwidth th:nth-child(11),.table-resourceBandwidth td:nth-child(11){width:4%;text-align: center}
.table-resourceBandwidth th:nth-child(12),.table-resourceBandwidth td:nth-child(12){width:4%;text-align: center}
.table-resourceBandwidth th:nth-child(13),.table-resourceBandwidth td:nth-child(13){width:4%;white-space: nowrap;text-align: center}
.table-resourceBandwidth th:nth-child(14),.table-resourceBandwidth td:nth-child(14){width:5%;white-space: nowrap;text-align: center}
.table-resourceBandwidth th:nth-child(15),.table-resourceBandwidth td:nth-child(15){width:5%;white-space: nowrap;text-align: center}
.table-resourceBandwidth th:nth-child(16),.table-resourceBandwidth td:nth-child(16){}
.table-resourceBandwidth th:nth-child(17),.table-resourceBandwidth td:nth-child(17){width:9.5%;}
.table-resourceBandwidth th:nth-child(18),.table-resourceBandwidth td:nth-child(18){width:4.5%;white-space: nowrap;text-align: center}
.table-resourceBandwidth td:nth-child(6),.table-resourceBandwidth td:nth-child(8),.table-resourceBandwidth td:nth-child(9),.table-resourceBandwidth td:nth-child(10),.table-resourceBandwidth td:nth-child(11),.table-resourceBandwidth td:nth-child(12){white-space: nowrap;}

/*资源管理-机柜资源 页面*/
.resourcecabinet .select-bandwidth{width:150px;}
.table-resourcecabinet th:first-child,.table-resourcecabinet td:first-child{width:11%;}
.table-resourcecabinet th:nth-child(2),.table-resourcecabinet td:nth-child(2){width:9%;}
.table-resourcecabinet th:nth-child(3),.table-resourcecabinet td:nth-child(3){width:5%;text-align: center}
.table-resourcecabinet th:nth-child(4),.table-resourcecabinet td:nth-child(4){width:5%;text-align: center}
.table-resourcecabinet th:nth-child(5),.table-resourcecabinet td:nth-child(5){width:6%;text-align: center}
.table-resourcecabinet th:nth-child(6),.table-resourcecabinet td:nth-child(6){width:7%;text-align: center}
.table-resourcecabinet th:nth-child(7),.table-resourcecabinet td:nth-child(7){width:6%;text-align: center}
.table-resourcecabinet th:nth-child(8),.table-resourcecabinet td:nth-child(8){width:6%;text-align: center}
.table-resourcecabinet th:nth-child(9),.table-resourcecabinet td:nth-child(9){width:4%;text-align: center}
.table-resourcecabinet th:nth-child(10),.table-resourcecabinet td:nth-child(10){width:4%;text-align: center}
.table-resourcecabinet th:nth-child(11),.table-resourcecabinet td:nth-child(11){width:7%;text-align: center}
.table-resourcecabinet th:nth-child(12),.table-resourcecabinet td:nth-child(12){width:7%;text-align: center}
.table-resourcecabinet th:nth-child(13),.table-resourcecabinet td:nth-child(13){}
.table-resourcecabinet th:nth-child(14),.table-resourcecabinet td:nth-child(14){width:11%;}
.table-resourcecabinet td:nth-child(6),.table-resourcecabinet td:nth-child(9),.table-resourcecabinet td:nth-child(10),.table-resourcecabinet td:nth-child(11),.table-resourcecabinet td:nth-child(12){white-space: nowrap;}

/*资源管理-端口资源 页面*/
.resourceport .select-port{width:150px;}
.table-resourceport th:first-child,.table-resourceport td:first-child{width:7%;}
.table-resourceport th:nth-child(2),.table-resourceport td:nth-child(2){width:4%;text-align: center}
.table-resourceport th:nth-child(3),.table-resourceport td:nth-child(3){width:4%;text-align: center}
.table-resourceport th:nth-child(4),.table-resourceport td:nth-child(4){width:4%;text-align: center}
.table-resourceport th:nth-child(5),.table-resourceport td:nth-child(5){width:7%;text-align: center}
.table-resourceport th:nth-child(6),.table-resourceport td:nth-child(6){width:6%;text-align: center}
.table-resourceport th:nth-child(7),.table-resourceport td:nth-child(7){width:7%;}
.table-resourceport th:nth-child(8),.table-resourceport td:nth-child(8){width:9%;}
.table-resourceport th:nth-child(9),.table-resourceport td:nth-child(9){width:5%;text-align: center}
.table-resourceport th:nth-child(10),.table-resourceport td:nth-child(10){width:6%;text-align: center}
.table-resourceport th:nth-child(11),.table-resourceport td:nth-child(11){width:7%;}
.table-resourceport th:nth-child(12),.table-resourceport td:nth-child(12){width:8%;}
.table-resourceport th:nth-child(13),.table-resourceport td:nth-child(13){width:5%;}
.table-resourceport th:nth-child(14),.table-resourceport td:nth-child(14){width:9%;}

.table-resourceport td:nth-child(6),.table-resourceport td:nth-child(7),.table-resourceport td:nth-child(8),.table-resourceport td:nth-child(9),.table-resourceport td:nth-child(11),.table-resourceport td:nth-child(12),.table-resourceport td:nth-child(13),.table-resourceport td:nth-child(14),.table-resourceport td:nth-child(15){white-space: nowrap;}

/*合同管理 页面*/

.table-contractmanage th:first-child,.table-contractmanage td:first-child{width:6%;text-align: center}
.table-contractmanage th:nth-child(2),.table-contractmanage td:nth-child(2){width:8.5%;}
.table-contractmanage th:nth-child(3),.table-contractmanage td:nth-child(3){width:8%;}
.table-contractmanage th:nth-child(4),.table-contractmanage td:nth-child(4){width:11%;}
.table-contractmanage th:nth-child(6),.table-contractmanage td:nth-child(6){width:5.5%;text-align: center}
.table-contractmanage th:nth-child(7),.table-contractmanage td:nth-child(7){width:13%;}
.table-contractmanage th:nth-child(8),.table-contractmanage td:nth-child(8){width:9%;}
.table-contractmanage th:nth-child(9),.table-contractmanage td:nth-child(9){width:6%;text-align: center}
.table-contractmanage th:nth-child(10),.table-contractmanage td:nth-child(10){width:6%;text-align: center}
.table-contractmanage th:nth-child(11),.table-contractmanage td:nth-child(11){width:5%;text-align: center}
.table-contractmanage th:nth-child(12),.table-contractmanage td:nth-child(12){width:7.5%;text-align: center}
.table-contractmanage td:nth-child(2),.table-contractmanage td:nth-child(6),.table-contractmanage td:nth-child(9),.table-contractmanage td:nth-child(10),.table-contractmanage td:nth-child(11){white-space: nowrap;}


/*合同审批-未完成 页面*/
.table-ctrapproval01 th:first-child,.table-ctrapproval01 td:first-child{width:5%;text-align: center}
.table-ctrapproval01 th:nth-child(2),.table-ctrapproval01 td:nth-child(2){width:8%;}
.table-ctrapproval01 th:nth-child(3),.table-ctrapproval01 td:nth-child(3){width:9%;}
.table-ctrapproval01 th:nth-child(4),.table-ctrapproval01 td:nth-child(4){}
.table-ctrapproval01 th:nth-child(5),.table-ctrapproval01 td:nth-child(5){width:14%;}
.table-ctrapproval01 th:nth-child(6),.table-ctrapproval01 td:nth-child(6){width:5.5%;text-align: center}
.table-ctrapproval01 th:nth-child(7),.table-ctrapproval01 td:nth-child(7){width:14%;}
.table-ctrapproval01 th:nth-child(8),.table-ctrapproval01 td:nth-child(8){width:10%;}
.table-ctrapproval01 th:nth-child(9),.table-ctrapproval01 td:nth-child(9){width:6%;}
.table-ctrapproval01 th:nth-child(10),.table-ctrapproval01 td:nth-child(10){width:6%;text-align: center}
.table-ctrapproval01 th:nth-child(11),.table-ctrapproval01 td:nth-child(11){width:5%;text-align: center}
.table-ctrapproval01 th:nth-child(12),.table-ctrapproval01 td:nth-child(12){width:6%;text-align: center}
.table-ctrapproval01 td:nth-child(1),.table-ctrapproval01 td:nth-child(2),.table-ctrapproval01 td:nth-child(6),.table-ctrapproval01 td:nth-child(9),.table-ctrapproval01 td:nth-child(10),.table-ctrapproval01 td:nth-child(11){white-space: nowrap;}


/*合同审批-已完成 页面*/
.table-ctrapproval02 th:first-child,.table-ctrapproval02 td:first-child{width:5%;text-align: center}
.table-ctrapproval02 th:nth-child(2),.table-ctrapproval02 td:nth-child(2){width:8%;}
.table-ctrapproval02 th:nth-child(3),.table-ctrapproval02 td:nth-child(3){width:9%;}
.table-ctrapproval02 th:nth-child(4),.table-ctrapproval02 td:nth-child(4){}
.table-ctrapproval02 th:nth-child(5),.table-ctrapproval02 td:nth-child(5){width:14%;}
.table-ctrapproval02 th:nth-child(6),.table-ctrapproval02 td:nth-child(6){width:5.5%;text-align: center}
.table-ctrapproval02 th:nth-child(7),.table-ctrapproval02 td:nth-child(7){width:14%;}
.table-ctrapproval02 th:nth-child(8),.table-ctrapproval02 td:nth-child(8){width:10%;}
.table-ctrapproval02 th:nth-child(9),.table-ctrapproval02 td:nth-child(9){width:6%;text-align: center}
.table-ctrapproval02 th:nth-child(10),.table-ctrapproval02 td:nth-child(10){width:6%;text-align: center}
.table-ctrapproval02 th:nth-child(11),.table-ctrapproval02 td:nth-child(11){width:5%;text-align: center}
.table-ctrapproval02 th:nth-child(12),.table-ctrapproval02 td:nth-child(12){width:6%;text-align: center}
.table-ctrapproval02 td:nth-child(1),.table-ctrapproval02 td:nth-child(2),.table-ctrapproval02 td:nth-child(6),.table-ctrapproval02 td:nth-child(9),.table-ctrapproval02 td:nth-child(10),.table-ctrapproval02 td:nth-child(11){white-space: nowrap;}


/*带宽复用审批-未完成 页面*/
.table-bankwidthapproval01 th:first-child,.table-bankwidthapproval01 td:first-child{width:5%;}
.table-bankwidthapproval01 th:nth-child(2),.table-bankwidthapproval01 td:nth-child(2){width:6%;}
.table-bankwidthapproval01 th:nth-child(3),.table-bankwidthapproval01 td:nth-child(3){}
.table-bankwidthapproval01 th:nth-child(4),.table-bankwidthapproval01 td:nth-child(4){width:4%;text-align: center}
.table-bankwidthapproval01 th:nth-child(5),.table-bankwidthapproval01 td:nth-child(5){width:4%;text-align: center}
.table-bankwidthapproval01 th:nth-child(6),.table-bankwidthapproval01 td:nth-child(6){width:4%;text-align: center}
.table-bankwidthapproval01 th:nth-child(7),.table-bankwidthapproval01 td:nth-child(7){width:6%;}
.table-bankwidthapproval01 th:nth-child(8),.table-bankwidthapproval01 td:nth-child(8){width:6%;}
.table-bankwidthapproval01 th:nth-child(9),.table-bankwidthapproval01 td:nth-child(9){width:4%;text-align: center}
.table-bankwidthapproval01 th:nth-child(10),.table-bankwidthapproval01 td:nth-child(10){width:5%;text-align: center}
.table-bankwidthapproval01 th:nth-child(11),.table-bankwidthapproval01 td:nth-child(11){width:5%;text-align: center}
.table-bankwidthapproval01 th:nth-child(12),.table-bankwidthapproval01 td:nth-child(12){width:5%;text-align: center}
.table-bankwidthapproval01 th:nth-child(13),.table-bankwidthapproval01 td:nth-child(13){width:4%;text-align: center;background:#d4d6a3;}
.table-bankwidthapproval01 th:nth-child(14),.table-bankwidthapproval01 td:nth-child(14){width:6%;text-align: center}
.table-bankwidthapproval01 th:nth-child(15),.table-bankwidthapproval01 td:nth-child(15){}
.table-bankwidthapproval01 th:nth-child(16),.table-bankwidthapproval01 td:nth-child(16){width:6%;}
.table-bankwidthapproval01 th:nth-child(17),.table-bankwidthapproval01 td:nth-child(17){width:4.5%;text-align: center}
.table-bankwidthapproval01 th:nth-child(18),.table-bankwidthapproval01 td:nth-child(18){width:5.5%;text-align: center}
.table-bankwidthapproval01 td:nth-child(1),.table-bankwidthapproval01 td:nth-child(2),.table-bankwidthapproval01 td:nth-child(7),.table-bankwidthapproval01 td:nth-child(8),.table-bankwidthapproval01 td:nth-child(9),.table-bankwidthapproval01 td:nth-child(10),.table-ctrapproval02 td:nth-child(11),.table-bankwidthapproval01 td:nth-child(12),.table-bankwidthapproval01 td:nth-child(13),.table-bankwidthapproval01 td:nth-child(14),.table-bankwidthapproval01 td:nth-child(16){white-space: nowrap;}

/*带宽复用审批-已完成 页面*/
.table-bankwidthapproval02 th:first-child,.table-bankwidthapproval02 td:first-child{width:6%;}
.table-bankwidthapproval02 th:nth-child(2),.table-bankwidthapproval02 td:nth-child(2){width:7%;}
.table-bankwidthapproval02 th:nth-child(3),.table-bankwidthapproval02 td:nth-child(3){}
.table-bankwidthapproval02 th:nth-child(4),.table-bankwidthapproval02 td:nth-child(4){width:4%;text-align: center}
.table-bankwidthapproval02 th:nth-child(5),.table-bankwidthapproval02 td:nth-child(5){width:4%;text-align: center}
.table-bankwidthapproval02 th:nth-child(6),.table-bankwidthapproval02 td:nth-child(6){width:4%;text-align: center}
.table-bankwidthapproval02 th:nth-child(7),.table-bankwidthapproval02 td:nth-child(7){width:6%;}
.table-bankwidthapproval02 th:nth-child(8),.table-bankwidthapproval02 td:nth-child(8){width:6%;}
.table-bankwidthapproval02 th:nth-child(9),.table-bankwidthapproval02 td:nth-child(9){width:4%;text-align: center}
.table-bankwidthapproval02 th:nth-child(10),.table-bankwidthapproval02 td:nth-child(10){width:5%;text-align: center}
.table-bankwidthapproval02 th:nth-child(11),.table-bankwidthapproval02 td:nth-child(11){width:5%;text-align: center}
.table-bankwidthapproval02 th:nth-child(12),.table-bankwidthapproval02 td:nth-child(12){width:5%;text-align: center}
.table-bankwidthapproval02 th:nth-child(13),.table-bankwidthapproval02 td:nth-child(13){width:4%;text-align: center}
.table-bankwidthapproval02 th:nth-child(14),.table-bankwidthapproval02 td:nth-child(14){}
.table-bankwidthapproval02 th:nth-child(15),.table-bankwidthapproval02 td:nth-child(15){width:7%;}
.table-bankwidthapproval02 th:nth-child(16),.table-bankwidthapproval02 td:nth-child(16){width:8%;text-align: center}
.table-bankwidthapproval02 td:nth-child(1),.table-bankwidthapproval02 td:nth-child(2),.table-bankwidthapproval02 td:nth-child(7),.table-bankwidthapproval02 td:nth-child(8),.table-bankwidthapproval02 td:nth-child(9),.table-bankwidthapproval02 td:nth-child(10),.table-bankwidthapproval02 td:nth-child(11),.table-bankwidthapproval02 td:nth-child(12),.table-bankwidthapproval02 td:nth-child(13),.table-bankwidthapproval02 td:nth-child(15){white-space: nowrap;}

/*付款管理 页面*/
.paymag .daterange{width:auto;}
.paymag .daterange .ivu-date-picker{width:110px;}
.paymag .select-pay{width:120px;}
.paymag .select-ticket{width:120px;}
.paymag .select-pay .ivu-select-item,.paymag .select-ticket .ivu-select-item{text-align:left;}
.table-paymanage th:first-child,.table-paymanage td:first-child{width:7%;}
.table-paymanage th:nth-child(2),.table-paymanage td:nth-child(2){width:4%;text-align: center}
.table-paymanage th:nth-child(3),.table-paymanage td:nth-child(3){width:11%;}
.table-paymanage th:nth-child(4),.table-paymanage td:nth-child(4){width:10%;}
.table-paymanage th:nth-child(5),.table-paymanage td:nth-child(5){}
.table-paymanage th:nth-child(6),.table-paymanage td:nth-child(6){width:7%;}
.table-paymanage th:nth-child(7),.table-paymanage td:nth-child(7){width:4%;text-align: center}
.table-paymanage th:nth-child(8),.table-paymanage td:nth-child(8){width:6%;text-align: center}
.table-paymanage th:nth-child(9),.table-paymanage td:nth-child(9){width:4%;text-align: center}
.table-paymanage th:nth-child(10),.table-paymanage td:nth-child(10){width:7%;}
.table-paymanage th:nth-child(11),.table-paymanage td:nth-child(11){width:4%;text-align: center}
.table-paymanage th:nth-child(12),.table-paymanage td:nth-child(12){width:6%;text-align: center}
.table-paymanage th:nth-child(13),.table-paymanage td:nth-child(13){width:7.5%;text-align: center}
.table-paymanage th:nth-child(14),.table-paymanage td:nth-child(14){width:7%;text-align: center}
.table-paymanage td:nth-child(1),.table-paymanage td:nth-child(6),.table-paymanage td:nth-child(9),.table-paymanage td:nth-child(11),.table-paymanage td:nth-child(12){white-space: nowrap;}

/*付款审批-未完成 页面*/
.table-payapproval01 th:first-child,.table-payapproval01 td:first-child{width:8%;}
.table-payapproval01 th:nth-child(2),.table-payapproval01 td:nth-child(2){width:4%;text-align: center}
.table-payapproval01 th:nth-child(3),.table-payapproval01 td:nth-child(3){width:12%;}
.table-payapproval01 th:nth-child(4),.table-payapproval01 td:nth-child(4){}
.table-payapproval01 th:nth-child(5),.table-payapproval01 td:nth-child(5){width:13%;}
.table-payapproval01 th:nth-child(6),.table-payapproval01 td:nth-child(6){width:7%;}
.table-payapproval01 th:nth-child(7),.table-payapproval01 td:nth-child(7){width:6%;text-align: center}
.table-payapproval01 th:nth-child(8),.table-payapproval01 td:nth-child(8){width:6%;text-align: center}
.table-payapproval01 th:nth-child(9),.table-payapproval01 td:nth-child(9){width:4%;text-align: center}
.table-payapproval01 th:nth-child(10),.table-payapproval01 td:nth-child(10){width:6%;}
.table-payapproval01 th:nth-child(11),.table-payapproval01 td:nth-child(11){width:6%;text-align: center}
.table-payapproval01 th:nth-child(12),.table-payapproval01 td:nth-child(12){width:6%;text-align: center}
.table-payapproval01 th:nth-child(13),.table-payapproval01 td:nth-child(13){width:9%;text-align: center;}
.table-payapproval01 td:nth-child(1),.table-payapproval01 td:nth-child(2),.table-payapproval01 td:nth-child(6),.table-payapproval01 td:nth-child(7),.table-payapproval01 td:nth-child(8),.table-payapproval01 td:nth-child(9),.table-payapproval01 td:nth-child(11),.table-payapproval01 td:nth-child(12){white-space: nowrap;}

/*付款审批-已完成 页面*/
.table-payapproval02 th:first-child,.table-payapproval02 td:first-child{width:7%;}
.table-payapproval02 th:nth-child(2),.table-payapproval02 td:nth-child(2){width:4%;text-align: center}
.table-payapproval02 th:nth-child(3),.table-payapproval02 td:nth-child(3){width:11%;}
.table-payapproval02 th:nth-child(4),.table-payapproval02 td:nth-child(4){width:10%;}
.table-payapproval02 th:nth-child(5),.table-payapproval02 td:nth-child(5){}
.table-payapproval02 th:nth-child(6),.table-payapproval02 td:nth-child(6){width:7%;}
.table-payapproval02 th:nth-child(7),.table-payapproval02 td:nth-child(7){width:5%;text-align: center}
.table-payapproval02 th:nth-child(8),.table-payapproval02 td:nth-child(8){width:6%;text-align: center}
.table-payapproval02 th:nth-child(9),.table-payapproval02 td:nth-child(9){width:5%;text-align: center}
.table-payapproval02 th:nth-child(10),.table-payapproval02 td:nth-child(10){width:7%;}
.table-payapproval02 th:nth-child(11),.table-payapproval02 td:nth-child(11){width:6%;text-align: center}
.table-payapproval02 th:nth-child(12),.table-payapproval02 td:nth-child(12){width:6%;text-align: center}
.table-payapproval02 th:nth-child(13),.table-payapproval02 td:nth-child(13){width:7%;text-align: center;}
.table-payapproval02 td:nth-child(1),.table-payapproval02 td:nth-child(2),.table-payapproval02 td:nth-child(6),.table-payapproval02 td:nth-child(7),.table-payapproval02 td:nth-child(8),.table-payapproval02 td:nth-child(9),.table-payapproval02 td:nth-child(11),.table-payapproval02 td:nth-child(12){white-space: nowrap;}

/*收款管理 页面*/
.gathermag .daterange{width:auto;}
.gathermag .daterange .ivu-date-picker{width:110px;}
.gathermag .select-pay{width:110px;}
.gathermag .select-ticket{width:110px;}
.table-gathermanage th:first-child,.table-gathermanage td:first-child{width:10%;}
.table-gathermanage th:nth-child(2),.table-gathermanage td:nth-child(2){width:5%;text-align: center}
.table-gathermanage th:nth-child(3),.table-gathermanage td:nth-child(3){}
.table-gathermanage th:nth-child(4),.table-gathermanage td:nth-child(4){}
.table-gathermanage th:nth-child(5),.table-gathermanage td:nth-child(5){width:6%;text-align: center}
.table-gathermanage th:nth-child(6),.table-gathermanage td:nth-child(6){width:7%;}
.table-gathermanage th:nth-child(7),.table-gathermanage td:nth-child(7){width:5.5%;text-align: center}
.table-gathermanage th:nth-child(8),.table-gathermanage td:nth-child(8){width:5.5%;text-align: center}
.table-gathermanage th:nth-child(9),.table-gathermanage td:nth-child(9){width:6%;text-align: center}
.table-gathermanage th:nth-child(10),.table-gathermanage td:nth-child(10){width:8%;}
.table-gathermanage th:nth-child(11),.table-gathermanage td:nth-child(11){width:5.5%;text-align: center}
.table-gathermanage th:nth-child(12),.table-gathermanage td:nth-child(12){width:6%;text-align: center}
.table-gathermanage th:nth-child(13),.table-gathermanage td:nth-child(13){width:8%;text-align: center}
.table-gathermanage th:nth-child(14),.table-gathermanage td:nth-child(14){width:8%;text-align: center}
.table-gathermanage td:nth-child(1),.table-gathermanage td:nth-child(6),.table-gathermanage td:nth-child(7),.table-gathermanage td:nth-child(8),.table-gathermanage td:nth-child(9),.table-gathermanage td:nth-child(11),.table-gathermanage td:nth-child(12){white-space: nowrap;}

/*工单管理 页面*/
.workordermag .select-bustype{width:150px;}
.table-workmanage thead tr:first-child th{text-align: center;background:#f3f3f3;font-size:13px;font-weight:bold;color:#333}
.table-workmanage thead tr:nth-child(2) th .grey{color:#666!important;vertical-align: top;}
.table-workmanage thead tr:nth-child(2) th:first-child,.table-workmanage td:first-child{width:10%;}
.table-workmanage thead tr:nth-child(2) th:nth-child(2),.table-workmanage td:nth-child(2){width:14%;}
.table-workmanage thead tr:nth-child(2) th:nth-child(3),.table-workmanage td:nth-child(3){width:10%;}
.table-workmanage thead tr:nth-child(2) th:nth-child(4),.table-workmanage td:nth-child(4){}
.table-workmanage thead tr:nth-child(2) th:nth-child(5),.table-workmanage td:nth-child(5){width:14%;}
.table-workmanage thead tr:nth-child(2) th:nth-child(6),.table-workmanage td:nth-child(6){width:32%;}
.table-workmanage thead tr:nth-child(2) th:nth-child(7),.table-workmanage td:nth-child(7){width:7.5%;text-align: center}
.table-workmanage td:nth-child(6) a{display: inline-block;margin:0 4px;white-space: nowrap;}
.table-workmanage td:nth-child(6) span.tit{display: inline-block;margin-right:8px;}
.table-workmanage td:nth-child(6) em{display: inline-block;margin:0 2px;}
.table-workmanage td:nth-child(1){white-space: nowrap;}

/*系统管理—用户管理 页面*/
.userwrap{padding-top:10px;width:100%;display: flex;justify-content:space-around;}
.userleft{width:47%;padding-bottom:5px;}
.userright{width:43%;padding-top:36px;}
.userleft .userset{padding:0 0 10px 0!important;}
.userleft .tabletop{border:none;}
.userleft .userset .select-user{width:250px}
.table-account tr td:first-child{width:20%;}
.table-account tr th:nth-child(2),.table-account tr td:nth-child(2){text-align: center;}
.table-account tr th:nth-child(3),.table-account tr td:nth-child(3){width:22%;text-align: center;}
.table-account tr th:nth-child(4),.table-account tr td:nth-child(4){width:18%;text-align: center;}
.table-account tr th:nth-child(5),.table-account tr td:nth-child(5){width:20%;text-align: center;}
.table-account tr td,.table-account tr th{padding-left:10px;padding-right:10px;}
.table-account td:last-child{position: relative;}
.table-account tr.current td:last-child span.arrow {display: block;position: absolute;z-index:2;right: -30px;top: 50%;margin-top:-15px;width: 0px;height: 0px;border: 15px solid transparent;border-left: 15px solid #f5f5ed;}
.table-account tr.current td:last-child:before{position:absolute;right:-12px;top:50%;margin-top:-12px;content:'';display: block;width:24px;height:24px;border:1px solid #ddd;border-width:1px 1px 0 0;background:#fff #fff transparent transparent;transform: rotate(45deg);}
.table-account tr.current {background:#f5f5ed}

.useredit-area{border: 1px #ddd solid;padding-bottom:22px;}
.useredit-area h4{background: #f9f9f9;border-bottom: 1px #ddd solid;height: 33px;line-height: 33px;color:#515a6e;font-size: 13px;padding-left: 15px;}
.useredit-area ul{margin:20px 0 40px 85px;font-size:13px;}
.useredit-area ul li{padding-top:20px;font-size:13px;}
.useredit-area ul li label{display:inline-block;float:left;text-align:right;width:100px;margin-top:5px;white-space:nowrap;padding-right:5px;}
.useredit-area ul li input{width:250px;height:28px;line-height:28px;}
.useredit-area .select-user{float:left;display:inline-block;width:250px;}
.useredit-area .select-role{float:left;display:inline-block;width:250px;}
.useredit-area .select-status{float:left;display:inline-block;width:250px;}
.userright .btns{margin:20px 0 25px;text-align:right}
.userright .btns button+button{margin-left:15px;}

/*系统管理——角色管理  页面 */
.rolewrap{padding-top:20px;width:100%;display: flex;justify-content:space-around;}
.roleleft{width:47%;padding-bottom:5px;}
.roleright{width:43%;/*border:1px solid #c9bbbb;padding:10px;background:#fff;margin-right:15px*/}
.table-roleleft td,.table-roleleft th{text-align: center}
.table-roleleft tr th:nth-child(1),.table-roleleft tr td:nth-child(1){width:7%;text-align: center}
.table-roleleft tr th:nth-child(2),.table-roleleft tr td:nth-child(2){width:27%;}
.table-roleleft tr th:nth-child(4),.table-roleleft tr td:nth-child(4){width:20%;text-align: center}
.table-roleleft tr th:nth-child(5),.table-roleleft tr td:nth-child(5){width:20%;text-align: center}
.table-roleleft select{width:100%}
.table-roleleft .select-level{width:100%}
.table-roleleft tr.current td:last-child{position:relative}
.table-roleleft tr.current td:last-child span.arrow {display: block;position: absolute;z-index:2;right: -30px;top: 50%;margin-top:-15px;width: 0px;height: 0px;border: 15px solid transparent;border-left: 15px solid #f5f5ed;}
.table-roleleft tr.current td:last-child:before{position:absolute;right:-12px;top:50%;margin-top:-12px;content:'';display: block;width:24px;height:24px;border:1px solid #ddd;border-width:1px 1px 0 0;background:#fff #fff transparent transparent;transform: rotate(45deg);}
.table-roleleft tr.current {background:#f5f5ed}

.table-roleright tr th{font-weight:bold}
.table-roleright tr td{border:0!important;}
.table-roleright tr td:nth-child(2){width:40%;}
.table-roleright tr th,.table-roleright tr td{padding-left:15px;}
.table-roleright select{width:100%}

.roleright .btns{padding:10px 0 0;text-align:right;}
.roleright .btns button+button{margin-left:10px;}

.modulelist{min-height:303px;border:1px #ddd solid;}
.modulelist h4{background:#f9f9f9;border-bottom:1px #ddd solid;height:30px;line-height:30px;font-size:14px;padding-left:15px;}
.modulelist h4 p{float:right;color:#999;margin-right:20px;font-size:12px;font-weight:normal}
.modulelist ul{margin:30px 0 20px 60px;}
.modulelist li{float:left;width:30%;text-align:left;padding-bottom:20px;}
.modulelist li *{vertical-align:middle}
.modulelist li input{margin-right:4px;}


/*系统管理——字典管理-ip类型  页面 */
.table-diciptype tr th:nth-child(1),.table-diciptype tr td:nth-child(1){width:60px;text-align: center;}
.table-diciptype tr th:last-child,.table-diciptype tr td:last-child{width:140px;text-align: center;}
.table-diciptype tr th:nth-last-child(2),.table-diciptype tr td:nth-last-child(2){width:160px;text-align: center}

/*系统管理——字典管理-机房  页面 */
.table-dicmachineroom tr th:nth-child(1),.table-dicmachineroom tr td:nth-child(1){width:60px;text-align: center;}
.table-dicmachineroom tr th:last-child,.table-dicmachineroom tr td:last-child{width:140px;text-align: center;}
.table-dicmachineroom tr th:nth-last-child(2),.table-dicmachineroom tr td:nth-last-child(2){width:160px;text-align: center}


